<nav id="sidebar">

    <div class="sidebar-header">
        <h3>CredRight</h3>
        <strong>CR</strong>
    </div>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-home"></i>
                Home
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a ui-sref="app.admin.registration">Register</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-briefcase"></i>
                About
            </a>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-copy"></i>
                Master Data
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a ui-sref="app.admin.usersList">Users</a>
                </li>
                <li>
                    <a ui-sref="app.admin.investorsList">Investors</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanBook">Loan Book</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanChart">Current Split - Value</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanVolume">Current Split - Volume</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanDisbursed">Total Disbursed - Value</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanDisbursedVolume">Total Disbursed - Volume</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanOutstandingValue">Total Outstanding - Value</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanOutstandingVolume">Total Outstanding - Volume</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanSettledValue">Total Settled - Value</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanSettledVolume">Total Settled - Volume</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanTenureAvg">Average Loan Tenure</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanAvgYield">Average Yield</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanAvgValue">Average Loan Value</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanDpdQuarterly">DPD Analysis - Quarterly Cohorts</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanDpdValue">DPD Analysis - Loan Value</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanDpdType">DPD Analysis - Loan Type</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanDpdPartners">DPD Analysis - Loan Partners</a>
                </li>
                <li>
                    <a ui-sref="app.admin.loanDpdScore">DPD Analysis - Loan Score</a>
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-image"></i>
                Portfolio
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-question"></i>
                FAQ
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-paper-plane"></i>
                Contact
            </a>
        </li>
    </ul>


</nav>